.modal {
    background-color: black;
    height: 95%;
    width: 70%;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto; /* Ensures scrolling if content exceeds modal height */
    padding: 20px;
}

.modal__btn{
    border: 1px blanchedalmond solid;
    height: 40px;
    color: white;
}

.btn{
    color: white;
    background: inherit;
}

.modal__btn input{
    background-color: inherit;
}

.write__post {
    color: white;
    border: 1px solid;
    border-radius: 30px;
    height: 35px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px; /* Add some margin for better visual spacing */
}

.write__post input {
    outline: none;
    border: none;
    height: 30px;
    width: 220px;
    background: none;
    color: white;
}

@media (max-width: 768px) {
    .modal{
        width: 95%;
    }
    
}
